/*font Styles*/

.white-font {
    color: white;
}

.Orbitron-Font {
    font-family: 'Orbitron', sans-serif;
}

.mont-Font {
    font-family: 'Montserrat', sans-serif
}

/*Background Colors*/
.bg-red {
    background-color: #ff8800;
    color: white;
}

.bg-blue {
    background-color: #2a9fd6;
    color: white;
}

.bg-white {
    background-color: #ffffff;
    color: grey;
}

.bg-green {
    background-color: springgreen;
    color: white;
}

/*Padding*/
.no-pad {
    padding: 0;
}

.no-top-pad {
    padding-top: 0;
}

.no-left-pad {
    padding-left: 0;
}

.no-right-pad {
    padding-right: 0;
}

.no-bottom-pad {
    padding-bottom: 0;
}

/*Margin*/
.no-margin {
    margin: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-left-margin {
    margin-left: 0;
}

.no-right-margin {
    margin-right: 0
}

.no-bottom-margin {
    margin-bottom: 0
}

.full-pad {
    padding-top: 10px;
    padding-bottom: 30px;
}

.scroll {
    overflow: scroll;
}

.gold {
    color: gold;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}