*{

}
body, html{
    height: 100%;
}
*{
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -ms-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s;
}
#banner{
    background: url('../images/FIFA17_BG-HOME.jpg') no-repeat fixed center;
    background-size: cover;
    min-height: 100%;
    position: relative;
}
.section-bg-color{
    min-height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.home-face{
    /*margin-top: 111px;*/
    min-height:100%;
    /*min-width:500px;*/
    color: white;
}
.header-content{
    padding: 100px;
}
.header-content > .centered-content > .headText > h3 > span{
    color: #ffd700;
}
.headText{
    /*-webkit-transform: translateY(50%);*/
    /*-moz-transform: translateY(50%);*/
    /*-ms-transform: translateY(50%);*/
    /*-o-transform: translateY(50%);*/
    width: 100%;
    /*height: 220px;*/
    /*transform: translateY(50%);*/
    /*font-family: 'Orbitron', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Lilita One', cursive;*/
    /*font-family: 'BenchNine', sans-serif;*/
}
.headText > h3 {
    font-size: 50px;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -ms-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s;

}
/* Flex */
.centered-parent{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}
.centered-content{
    align-self: center;
    /*height: 100%;*/
}
/* End Flex*/

.home-image{
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    width:600px;
}
.grey-color{
    background-color: rgba(0,0,0,0.7);
}
.darkGrey-color{
background-color: rgba(0,0,0,0.8);
    height: 100%;
}
.slots-left > .number{
    color:springgreen;
}
.enterBtn{
    padding: 10px;
    background-color: #0f0f0f;
    border-radius: 3px;
    color: #ffffff;
    -webkit-transition: background-color .6s;
    -moz-transition: background-color .6s;
    -ms-transition: background-color .6s;
    -o-transition: background-color .6s;
    transition: background-color .6s;
}
.enterBtn:hover{
    text-decoration: none;
    background-color: #ffd700;
    color: #0f0f0f;
}

.home-content-1 {
    /*padding-top: 130px;*/
    /*padding-bottom: 150px;*/
    color: white;
    min-height: 100%;
}
.home-content-text{
    padding-top: 75px;
    padding-bottom: 50px;
}
.home-content-1  > .home-content-text> .row > h1{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}
.home-content-1 > .home-content-text > .row > .head-text > p{
    font-size: 26px;
}
.home-content-1 > .home-content-text > .row > .head-text > p:first-child{
    font-size: 38px;
    color: #ffd700;
}
.section-0{
    height: 550px;
    color:white;
    background: url("../images/fifa-17-back.jpg") no-repeat fixed center;
    background-size: cover;
}
.section-1,.section-2,.section-3{
    background-color: transparent;
    width:100%;
    height:500px;
    color:white;
    padding-top: 80px;
}
.section-1{ background-color: rgba(255,255,10, 0.2)}
.section-2{ background-color: rgba(230,230,230, 0.2)}
.section-3{}
.section-bg{
    background: url('../images/fifa17pogba.jpg') no-repeat fixed center;
    background-size: cover;
}
/*Prizes*/
.prize-image{
    width: 300px;
    float: right;
}
.prize-container{
    font-size: 40px;
}
.prize-container > p {
    font-size: 150px;
}
.bg-black{
    background-color: #0f0f0f;
}
.bg-kinda_Black{
    background-color: #1c1c1c;
}
.vendor-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*.vendor-btn{*/
    /*padding: 20px;*/
    /*background-color: #2f2f2f;*/
    /*border-radius: 3px;*/
    /*font-size: 15px;*/
    /*color: #ffffff;*/
    /*-webkit-transition: background-color .6s;*/
    /*-moz-transition: background-color .6s;*/
    /*-ms-transition: background-color .6s;*/
    /*-o-transition: background-color .6s;*/
    /*transition: background-color .6s;*/
/*}*/
/*.vendor-btn:hover{*/
    /*text-decoration: none;*/
    /*background-color: #ffd700;*/
    /*color: #0f0f0f;*/
/*}*/
/*.vendor-text{*/
    /*!*font-family: 'Orbitron', sans-serif;*!*/
    /*font-size: 28px;*/
/*}*/
.sponsor-bg{
    background-color: #002631;
}
.sponsor-container{
    max-width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.sponsor-parent{
    display: flex;
}
.sponsor-parent > div{
    width: 100%;
    height: 100px;
    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 30px;
}
.sponsor-image{
    width: 100px;
}
.vendor-text > h2 {
    color: gold;
    font-family: 'Montserrat', sans-serif;
}
.gold{ color: gold;}
.silver{ color: silver}
.bronze{ color: sandybrown}

@media only screen and (max-width: 1280px){
    .home-content-1 > .home-content-text > .row > h1{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        font-size: 39px;
        font-family: 'Orbitron', sans-serif;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p{
        font-size: 17px;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p:first-child{
        font-size: 24px;
        color: gold;
    }
    .vendor-text{
        /*font-family: ;*/
        font-size: 23px;
    }
}

@media only screen and (max-width: 1200px) {

    .prize-image{
        width: 210px;
        float: unset;
        margin: 0 auto;
    }
    .prize-container{
        font-size: 40px;
    }
    .home-image{
        width: 400px;
    }
    .prize-container > p {
        font-size: 120px;
    }
    h1,h2,h3{
        font-size: 30px;
    }
    .headText{
        margin-top: 20%;

    }
    .headText > h3{
        font-size: 40px;
    }
}

@media only screen and (max-width: 990px) {

    .prize-container > p {
        font-size: 80px;
    }
    .home-image{
        width: 320px;
    }
    .headText > h3 {
        font-size: 30px;
    }
    .vendor-text > p{
        font-size: 16px;
    }
}


@media only screen and (max-height: 960px){
    .header-content{
        padding: 10px;
    }


}


@media only screen and (max-width: 768px){
    .navbar{
        padding:5px;
    }
    .header-content{
        padding: unset;
    }
    #banner {
        background: url('../images/FIFA17_BG-HOME.jpg') no-repeat center;
        background-size: cover;
    }
    .section-0{
        background: url("../images/fifa-17-back.jpg") no-repeat center;
        background-size: cover;
    }
    .section-bg{
        background: url('../images/fifa17pogba-sm.jpg') no-repeat center;
        background-size: cover;
    }

    .home-content-1 > .home-content-text > .row > h1{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        font-size: 35px;
        font-family: 'Orbitron', sans-serif;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p{
        font-size: 17px;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p:first-child{
        font-size: 19px;
        color: gold;
    }
    .home-image{
        width: 300px;
    }.prize-container > p {
         font-size: 60px;
     }
    .vendor-text > h2{
        font-size: 18px;
    }
    .vendor-text{
        font-size: 16px;
    }


}

@media only screen and (max-width: 651px){
    .navbar{
        padding:5px;
    }

    .home-content-1  > .home-content-text> .row > h1{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 15px;
        font-size: 30px;
        font-family: 'Orbitron', sans-serif;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p{
        font-size: 13px;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p:first-child{
        font-size: 18px;
        color: gold;
    }
    .headText > h3 {
        font-size: 25px;
    }

}

@media only screen and (max-width: 620px){
    .home-content-1 > .home-content-text > .row > h1{
        width: 90%;
        margin: 0 auto;
        font-size: 23px;
    }
    h3{
        font-size: 20px;
    }



}
@media only screen and (max-width: 500px) {

    .home-image{
        width: 200px;
    }
    .headText > h3 {
        font-size: 22px;
    }
    .home-content-text{
        transform: translateY(30%);
    }
}
@media only screen and (max-width: 420px) {

    .home-image{
        width: 200px;
    }
    .headText > h3 {
        font-size: 17px;
    }
    .home-content-text{
        transform: translateY(35%);
    }
    .sponsor-image{
        width: 70px;
    }
}

@media only screen and (max-height: 400px) {

    .home-face{
        margin-top: 0;
    }
    .home-content-1{
        padding: 0;
    }
    .home-content-1  > .home-content-text> .row > h1{
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 30px;
        font-family: 'Orbitron', sans-serif;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p{
        font-size: 13px;
    }
    .home-content-1 > .home-content-text > .row > .head-text > p:first-child{
        font-size: 18px;
        color: gold;
    }


}

