/*Navbar style*/
*{
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition:  padding 1s;
}

.navbar{
    padding: 20px;
}
.nav-scroll{
    padding: 5px;
}
.nav-scroll .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-nav >li >a:hover, .navbar-header > a:hover, .logout-btn:hover {
    /*padding: 25px;*/
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -ms-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s;
    border-color: white;
    font-size: 20px;
    color: #ffd700;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #ffd700;
    /*color: white;*/
}
.navbar-nav >li {
    margin-left: 15px;
    font-family: 'Orbitron', sans-serif;

}
.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}
.in{
    background-color: rgba(0,0,0,1);
}
.in > .nav > li > a{
    color: white;
}
.in > .nav > li > a:hover{
    color: white;
}
.nav-image{
    width: 100px;
}
form{
    margin-bottom: 0;
}
.logout-btn{
    border: 0;
    background-color: transparent;
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 13px;
}
.fa{
    color:  #9d9d9d;
}
.fa:hover{
    color:  #ffd700;
}
.grey-bg{
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -ms-transition: background-color .4s ;
    -o-transition: background-color .4s;
    transition: background-color .4s;
    background-color: rgba(0,0,0,0.4);
}
.dropdown-menu{
    min-width: 126px;
    background-color: black;
}
.dropdown-menu>li>a{
    padding: 15px;
    text-align: center;
    color:whitesmoke;
    /*border-bottom: 2px solid gold;*/
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:active,.dropdown-menu>li>a:focus{
    background-color: gold;
    color: black;
}
@media screen and (max-width: 1024px){

    .navbar{
        padding: 3px;
        /*background-color: black;*/
    }
    .navbar-nav >li >a{
        font-size: 12px;
        padding: 10px;
        padding-top: 15px;
    }
    .navbar-brand{
        padding: 10px 10px;
    }
    .dropdown-menu>li>a{
        padding: 10px;
    }
}
@media only screen and (max-width: 651px) {
    .navbar {
        padding: 5px;
    }
    .nav-image{
        width: 80px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 5px;
    }
}
/*navbar styles*/
