/*Navbar style*/
.navbar{
    padding: 30px;
}
.navbar-nav >li >a:hover, .navbar-header > a:hover {
    /*padding: 25px;*/
    border-color: white;

}
.navbar-nav >li {
    margin-left: 15px;
    font-family: 'Orbitron', sans-serif;

}
.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}
.in{
    background-color: rgba(0,0,0,0.8);
}
.in > .nav > li > a{
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #ffd700;
}
@media only screen and (max-width: 651px) {
    .navbar {
        padding: 5px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 5px;
    }
}
/*navbar styles*/
