html{  -webkit-tap-highlight-color: transparent;}
body{
    margin: 0;
    color: #161616;
    display: block;
    font-family: "Open Sans","Franklin Gothic Medium",Calibri,Arial,HelveticaNeue-Light,sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    line-height: 2.2rem;
    overflow-x: hidden;
}
.bg-fifa18{  background-color: rgb(32, 28, 85);color: #FFFFFF;}
.hero-layer{
    position: relative;
    display: block;
    margin: 0 auto;
    min-height: inherit;
    width: 100vw;
}
.hero-child{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.hero-child > .description {
    font-size: 1.3rem;
    color: #0e1025;
    font-weight: 500;
    background-color: white;
    margin-bottom: 2px;
}
.description-dark{
    font-size: 1.3rem;
    background-color: #0e1025;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 2px;
}
.bg-hero-image{ z-index: 3;}
.bg-hero-image .bg-hero-image-img, .bg-hero-image>svg {  width: 100%;}
.hero-content{  z-index: 5;}
.events-container{
    padding-top: 60px;
    padding-bottom: 60px;
}
.events{
    text-align: center;
    font-family: "Open Sans","Franklin Gothic Medium",Calibri,Arial,HelveticaNeue-Light,sans-serif;
}
svg{  width: 70px;height: 70px;}
.events > div > p {  text-transform: uppercase;}

@media screen and (max-width: 1280px) {
    .hero-child > h1 {  font-size: 4rem;}
}
@media screen and (max-width: 768px) {
    .hero-child{  width: 225px;}
    .hero-child > h1 {  font-size: 2rem;}
    .events-container > .display-3 {  font-size: 2rem;}
    .hero-child > .description {  font-size: 0.6rem;color: #0e1025;font-weight: 300;background-color: white;  }
    .description-dark{  font-size: 0.6rem; background-color: #0e1025;font-weight: 300;color: #FFFFFF;margin-bottom: 2px;  }
    .events > div > p { font-size: 1rem}
    .events > div > div > p { font-size: 1rem}
}