html,body{
    height: 100%;
}
.hide{
    display: none;
}
.bg-wrapper{
    background: url("../media/images/fifa18-homepage-marquee-bg-lg.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}
.bg-cover {
    background-color: rgba(14,16,37, 0.8);
    min-height: 100%;
}

label[class=error]{
    border: 0;
}
@media only screen and (max-width: 1280px) {
    .bg-wrapper{
        background: url("../media/images/fifa18-homepage-marquee-bg-md.jpg") no-repeat fixed center;
        background-size: cover;
        height: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .bg-wrapper{
        background: url("../media/images/fifa18-homepage-marquee-bg-sm.jpg") no-repeat fixed center;
        background-size: cover;
        min-height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    html,body{
        height: unset !important;
    }
    .bg-wrapper{
        background: url("../media/images/fifa18-homepage-marquee-bg-xs-2.jpg") no-repeat fixed center;
        background-size: cover;
        min-height: 100%;
    }
}